.lineText{
    font-size: 5px !important;
    
}
.ratingPopup{
font-size: 12px;

}
.fontSize{
    font-size: 13px;
    font-weight: 550;

}
.itemFontSize{
    font-size: 12px;
    font-weight: 500;
}
